@import "~@/style/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --color-bg: #151618;
  --color-text: #fff; 
  --color-gray: #38393b;
  --color-gray2: #6a6b6b;

  --transition-normal: 0.4s;

  --container: 1600px;
}

.site {
  .favorites {
    display: flex;
    padding-top: 70px;
    &-list {
      &-allItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    &-item {
      width: 215px;
      position: relative;
      margin: 40px 25px 0 25px;
      &__image {
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px black;
        width: 215px;
        height: 320px;
        object-fit: cover;
        transition-duration: var(--transition-normal);
        // &:hover {
        //   opacity: 0.2;
        // }
      }
      &__name {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.4px;
      }
      &__season {
        color: var(--color-gray2);
        font-weight: 600;
        font-size: 13px;
        padding-top: 7px;
      }
      &__rating {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 15px;
        &-like {
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative;
          flex-direction: row-reverse;
          font-size: 13px;
          .rating-like {
            fill: var(--color-gray);
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
          }
        }
        &-dislike {
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative;
          flex-direction: row-reverse;
          font-size: 13px;
          .rating-dislike {
            fill: var(--color-gray);
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
          }
        }
        &-number {
          padding-left: 30px;
        }
      }
      &-inf {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        width: 215px;
        height: 320px;
        padding: 20px;
        box-sizing: border-box;
        transition-duration: var(--transition-normal);
        background-color: #232323e8;
        &:hover {
          opacity: 1;
        }
      }
      &-rait {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 25px;
        width: 100%;
        left: 0;
        padding: 0 20px;
        box-sizing: border-box;
      }
      &-add {
        display: flex;
        justify-content: space-between;
        .favorites-heart {
          cursor: pointer;
          fill: #fff0;
          width: 25px;
          height: 20px;
          stroke: white;
          stroke-width: 30px;
          transition-duration: var(--transition-normal);
          &:hover {
            fill: white;
          }
        }
        .favorites-close {
          cursor: pointer;
          fill: white;
          width: 20px;
          height: 20px;
        }
      }
      &-play {
        cursor: pointer;
        fill: white;
        width: 120px;
        height: 120px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
      // &:hover {
      //   .favorites-item-inf {
      //     display: block;
      //   }
      // }
    }
  }
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  .container {
    width: var(--container);
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    .title {
      font-size: 24px;
      padding: 0 25px;
    }
  }
  .nav-bar {
    width: 300px;
    height: 100vh;
    left: 0;
  }
}





// menu

.cd-accordion-menu {
  list-style: none;
  padding-left: 50px;
}

.cd-accordion-menu ul {
  list-style: none;
}

.cd-accordion-menu ul {
	display: none
}

.cd-accordion-menu li {
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;
	webkit-user-select: none;
}
.drop_data a {
  color: #797979 !important;
}
.drop_data:hover {
  background-color: #63636333;
  border-radius: 50px;
  transition-duration: var(--transition-normal);
}
.drop_data_active {
  background-color: #63636333;
  border-radius: 50px;
}
.drop_data_active a {
  color: #fff !important;
}
.cd-accordion-menu input[type=checkbox] {
	opacity: 0;
	position: absolute
}

.cd-accordion-menu label {
	color: #ffff;
	// display: block;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 0;
	padding: 5px 40px;
	padding: 7px 8px;
	position: relative;
  transition-duration: .3s;
  display: flex;
  align-items: center
}

.cd-accordion-menu label:hover {
	background-color: #63636333;
  border-radius: 50px;
}

.cd-accordion-menu a {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 0;
	padding: 5px 40px;
	padding: 7px 8px;
	position: relative;
	transition-duration: .3s
}

.no-touch .cd-accordion-menu a:hover,
.no-touch .cd-accordion-menu label:hover {
	background: #52565d
}

.cd-accordion-menu label::before {
	content: '';
	display: inline-block;
	height: 16px;
	moz-transform: translateY(-50%);
	ms-transform: translateY(-50%);
	o-transform: translateY(-50%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
	width: 16px
}

.cd-accordion-menu label {
	cursor: pointer
}

.cd-accordion-menu label::before {
	background-image: url(https://forkweb.ru/dist/icon/cd-icons.svg);
	background-repeat: no-repeat
}

.cd-accordion-menu label::before {
	background-position: 0 0;
	moz-transform: translateY(-50%) rotate(-90deg);
	ms-transform: translateY(-50%) rotate(-90deg);
	o-transform: translateY(-50%) rotate(-90deg);
	right: 12px;
	transform: translateY(-50%) rotate(-90deg);
	webkit-transform: translateY(-50%) rotate(-90deg)
}

.cd-accordion-menu label::after {
	background-position: -16px 0;
	left: 41px
}

.cd-accordion-menu a::after {
	background: url(https://forkweb.ru/dist/icon/cd-icons.svg) no-repeat -48px 0;
	left: 36px
}

.cd-accordion-menu input[type=checkbox]:checked+label::before {
	moz-transform: translateY(-50%);
	ms-transform: translateY(-50%);
	o-transform: translateY(-50%);
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
}

.cd-accordion-menu input[type=checkbox]:checked+label::after {
	background-position: -32px 0;
}

.cd-accordion-menu input[type=checkbox]:checked+label+ul,
.cd-accordion-menu input[type=checkbox]:checked+label:nth-of-type(n)+ul {
  display: block;
  padding-left: 0;
}

.cd-accordion-menu ul a,
.cd-accordion-menu ul label {
	letter-spacing: 0;
	padding-left: 20px;
  padding-top: 8px;
  text-decoration: none;
}

.no-touch .cd-accordion-menu ul a:hover,
.no-touch .cd-accordion-menu ul label:hover {
	background: #3c3f45
}

.cd-accordion-menu>li:last-of-type>a,
.cd-accordion-menu>li:last-of-type>label,
.cd-accordion-menu>li>ul>li:last-of-type a,
.cd-accordion-menu>li>ul>li:last-of-type label {
	box-shadow: none
}

.cd-accordion-menu ul label::before {
	right: 12px
}

.cd-accordion-menu ul a::after,
.cd-accordion-menu ul label::after {
	left: 59px
}

.cd-accordion-menu ul ul a,
.cd-accordion-menu ul ul label {
	padding-left: 35px
}

.cd-accordion-menu ul ul label::before {
	left: 54px
}

.cd-accordion-menu ul ul a::after,
.cd-accordion-menu ul ul label::after {
	left: 77px
}

.cd-accordion-menu ul ul ul a,
.cd-accordion-menu ul ul ul label {
	padding-left: 118px
}

.cd-accordion-menu ul ul ul label::before {
	left: 72px
}

.cd-accordion-menu ul ul ul a::after,
.cd-accordion-menu ul ul ul label::after {
	left: 95px
}

.cd-accordion-menu.animated label::before {
	transition-duration: var(--transition-normal);
}
.has-children a {
  text-decoration: none;
}
.title_menu_drop {
  font-size: 18px !important;
}
.has-children {
  padding-bottom: 10px;
}
.active_slide_menu::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: red;
  left: -10px !important;
}
// menu


