@import "~@/style/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --color-bg: #151618;
  --color-text: #fff; 

  --transition-normal: 0.3s;

  --container: 1600px;
}

.site {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  .container {
    width: var(--container);
    margin: 0 auto;
    position: relative;
  }
}


